.sidebar {
    background-color: rgb(243, 243, 243);
    height: 91vh;
    padding: 10px;
}

.menu-item {
    text-decoration: none;
    color: black;
}

.menu-item:hover {
    color: blue;
    cursor: pointer;
}

.layout {
    display: flex;
}

.layout-name {
    flex: 7;
}

.layout-count {
    flex: 1;
    color: blue;
    text-decoration: none;
    cursor: pointer;
}