<div class="sidebar">
  <div class="layout">
    <a class="menu-item layout-name" routerLink="/create-work"> Create Work </a>
    <a class="layout-count">{{ 0 }}</a>
  </div>
  <div class="layout">
    <a class="menu-item layout-name" routerLink="/work-list">List</a>
    <a class="layout-count">{{ 0 }}</a>
  </div>
  <div class="layout">
    <a class="menu-item layout-name" routerLink="/approve">Approve</a>
    <a class="layout-count">{{ 0 }}</a>
  </div>
  <div class="layout">
    <a class="menu-item layout-name" routerLink="/reject">Reject</a>
    <a class="layout-count">{{ 0 }}</a>
  </div>
  <div class="layout">
    <a class="menu-item layout-name" routerLink="/log-out">log out</a>
    <a class="layout-count">{{ 0 }}</a>
  </div>
</div>
